p {
    font-size: 3em;
    color: bisque;
}

h1 {
    color: burlywood;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-inline-start: 0px;
}

li {
    padding-bottom: 10px;
}